@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.logoHome {
    height: 70px;
    background-color: #323232;
    color: #faf3f7;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloLogo{
    font-size: 35px;
}

.imagenLogo{
    height: 40px;
    margin-left: 10px;
}

.banner{
    height: 200px;
    width: 100%;
    background-image: url("../assets/img/banner.jpg");
    background-repeat: no-repeat;
    background-position-y: -290px;
    background-position-x: 20px;
    background-size: cover;
}

.navBar{
    width: 100%;
    height: 70px;
    background-color: #323232;
    display: flex;
    align-items: center;
}

#header {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

#inputSearch{
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#323232;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

main {
    background-color: #fcf8fa;
    height: 100%;
}

a {
    text-decoration: none;
    color: #FA4EAB;
}

.container {
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 200px 5px 200px;
    flex-wrap: wrap;
}

.divCarrito {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

h2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

img {
    height: 200px;
}

.botonCompra {
    background-color: #323232;
    border-color: #3c3b3c;
    color: #faf3f7;
    border-radius: 10px;
    height: 45px;
    width: 80px;
}

.botonCompra:hover {
    background-color: #FA4EAB;
    color: #323232;
    border-color: #FA4EAB;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid #eacae0 2px;
    padding-top: 25px;
    width: 210px;
    height: 370px;
    margin: 30px 10px;
}

.divInfoProducto {
    width: 100%;
    height: 40%;
    background-color: #eacae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nombre {
    line-height: 1.6;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
}

.precio {
    padding: 5px;
    text-align: center;
}

.comprar {
    padding-bottom: 5px;
}

.finalizarCompra {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonFin {
    background-color: #323232;
    border-color: #3c3b3c;
    color: #faf3f7;
    border-radius: 10px;
    height: 45px;
    width: 130px;
    margin-bottom: 30px;
}

.botonFin:hover {
    background-color: #FA4EAB;
    color: #323232;
    border-color: #FA4EAB;
}


footer {
    background-color: #FA4EAB;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/*checkout*/

.divTabla {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablaCheckout {
    width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid #eacae0;
}

th,
td {
    padding: 20px;
}

.containerTotalCompra {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonEliminarItem {
    background-color: #323232;
    border-color: #3c3b3c;
    color: #faf3f7;
    border-radius: 10px;
    height: 45px;
    width: 130px;
}

.botonEliminarItem:hover {
    background-color: #FA4EAB;
    color: #323232;
    border-color: #FA4EAB;
}

.sectionFinalizarCompra {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonFinalizarCompra {
    background-color: #323232;
    border-color: #3c3b3c;
    color: #faf3f7;
    border-radius: 10px;
    height: 45px;
    width: 130px;
}

.botonFinalizarCompra:hover {
    background-color: #FA4EAB;
    color: #323232;
    border-color: #FA4EAB;
}

.divSaludoFinal {
    width: 100%;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parrafoSaludoFinal {
    font-size: 50px;
    padding-bottom: 60px;
}

.volverHome {
    background-color: #323232;
    border-color: #3c3b3c;
    color: #faf3f7;
    border-radius: 10px;
    height: 45px;
    width: 130px;
}